html, body {
	margin: 0;
	padding: 0;

	overflow-x: hidden;
	background-color: #000;
}

.container {

	position: relative;;

	background-color: #000;
	color: #fff;
	font-family: 'VT323', 'Courier', 'Courier New', 'Monospaced';
	font-size: 14pt;

	z-index: 0;

}

#overlay {
	width: 100%;
	height: 100%;

	margin: 0;
	top: 0;
	left: 0;

	z-index: 10;
	position: fixed;

	background-image: -webkit-repeating-linear-gradient(top, rgba(128, 128, 128, .4) 0px, rgba(128, 128, 128, .4) 1px, rgba(128, 128, 128, 0) 1px, rgba(128, 128, 128, 0) 3px);
	background-image: -moz-repeating-linear-gradient(top, rgba(128, 128, 128, .4) 0px, rgba(128, 128, 128, .4) 1px, rgba(128, 128, 128, 0) 1px, rgba(128, 128, 128, 0) 3px);

	-webkit-animation-name: flicker;
	-webkit-animation-duration: .15s;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: flicker;
	-moz-animation-duration: .15s;
	-moz-animation-iteration-count: infinite;
}

#input-pointer {
	margin-left: 20px;
}

#input {
	margin-top: 0px;
	margin-left: 0px;
	outline: none;
	display: inline;
}

.content {
	margin: 20px;
}

#screen {
	width: 100%;

	margin-bottom: 0px;
}

@keyframes flicker {
	0% { opacity: 0.9200290238950402;}
	5% { opacity: 0.9447512796148658;}
	10% { opacity: 0.893128171702847;}
	15% { opacity: 0.9275935986079276;}
	20% { opacity: 0.8903126560151577;}
	25% { opacity: 0.9364650235045702;}
	30% { opacity: 0.8419589675962925;}
	35% { opacity: 0.9514297705609351;}
	40% { opacity: 0.8623974149115384;}
	45% { opacity: 0.8458719712216407;}
	50% { opacity: 0.8707875679712743;}
	55% { opacity: 0.8755905178841203;}
	60% { opacity: 0.8889500736258924;}
	65% { opacity: 0.9818144859746099;}
	70% { opacity: 0.8862373979296536;}
	75% { opacity: 0.8954182227607816;}
	80% { opacity: 0.9788906241301447;}
	85% { opacity: 0.9757981732487679;}
	90% { opacity: 0.8602684457786381;}
	95% { opacity: 0.846387284854427;}
	100% { opacity: 0.9691199379507452;}
}

@-webkit-keyframes flicker {
	0% { opacity: 0.9200290238950402;}
	5% { opacity: 0.9447512796148658;}
	10% { opacity: 0.893128171702847;}
	15% { opacity: 0.9275935986079276;}
	20% { opacity: 0.8903126560151577;}
	25% { opacity: 0.9364650235045702;}
	30% { opacity: 0.8419589675962925;}
	35% { opacity: 0.9514297705609351;}
	40% { opacity: 0.8623974149115384;}
	45% { opacity: 0.8458719712216407;}
	50% { opacity: 0.8707875679712743;}
	55% { opacity: 0.8755905178841203;}
	60% { opacity: 0.8889500736258924;}
	65% { opacity: 0.9818144859746099;}
	70% { opacity: 0.8862373979296536;}
	75% { opacity: 0.8954182227607816;}
	80% { opacity: 0.9788906241301447;}
	85% { opacity: 0.9757981732487679;}
	90% { opacity: 0.8602684457786381;}
	95% { opacity: 0.846387284854427;}
	100% { opacity: 0.9691199379507452;}
}