html, body {
	margin: 0;
	padding: 0;

	overflow-x: hidden;
	background-color: #000;
}

.container {

	position: relative;;

	background-color: #000;
	color: #fff;
	font-family: 'VT323', 'Courier', 'Courier New', 'Monospaced';
	font-size: 14pt;

	z-index: 0;

}

#overlay {
	width: 100%;
	height: 100%;

	margin: 0;
	top: 0;
	left: 0;

	z-index: 10;
	position: fixed;

	background-image: -webkit-repeating-linear-gradient(top, rgba(128, 128, 128, .4) 0px, rgba(128, 128, 128, .4) 1px, rgba(128, 128, 128, 0) 1px, rgba(128, 128, 128, 0) 3px);
	background-image: -moz-repeating-linear-gradient(top, rgba(128, 128, 128, .4) 0px, rgba(128, 128, 128, .4) 1px, rgba(128, 128, 128, 0) 1px, rgba(128, 128, 128, 0) 3px);

	-webkit-animation-name: flicker;
	-webkit-animation-duration: .1s;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: flicker;
	-moz-animation-duration: .1s;
	-moz-animation-iteration-count: infinite;
}

#input-pointer {
	margin-left: 20px;
}

#input {
	margin-top: 0px;
	margin-left: 0px;
	outline: none;
	display: inline;
}

.content {
	margin: 20px;
}

#screen {
	width: 100%;

	margin-bottom: 0px;
}

@keyframes flicker {
	0% { opacity: 0.9165331272175535;}
	5% { opacity: 0.9114148542983458;}
	10% { opacity: 0.991293118451722;}
	15% { opacity: 0.9944578355643898;}
	20% { opacity: 0.975484094512649;}
	25% { opacity: 0.9971621884265915;}
	30% { opacity: 0.9491965435445309;}
	35% { opacity: 0.9281189439352602;}
	40% { opacity: 0.9972395206568763;}
	45% { opacity: 0.9117460511624813;}
	50% { opacity: 0.9835116161266342;}
	55% { opacity: 0.9129176390590147;}
	60% { opacity: 0.9086423080181704;}
	65% { opacity: 0.901726147113368;}
	70% { opacity: 0.9179937062552199;}
	75% { opacity: 0.9172231858363376;}
	80% { opacity: 0.9283428653841839;}
	85% { opacity: 0.9051354720257223;}
	90% { opacity: 0.9843206780264154;}
	95% { opacity: 0.9922444827854634;}
	100% { opacity: 0.9817510534776375;}
}

@-webkit-keyframes flicker {
	0% { opacity: 0.9165331272175535;}
	5% { opacity: 0.9114148542983458;}
	10% { opacity: 0.991293118451722;}
	15% { opacity: 0.9944578355643898;}
	20% { opacity: 0.975484094512649;}
	25% { opacity: 0.9971621884265915;}
	30% { opacity: 0.9491965435445309;}
	35% { opacity: 0.9281189439352602;}
	40% { opacity: 0.9972395206568763;}
	45% { opacity: 0.9117460511624813;}
	50% { opacity: 0.9835116161266342;}
	55% { opacity: 0.9129176390590147;}
	60% { opacity: 0.9086423080181704;}
	65% { opacity: 0.901726147113368;}
	70% { opacity: 0.9179937062552199;}
	75% { opacity: 0.9172231858363376;}
	80% { opacity: 0.9283428653841839;}
	85% { opacity: 0.9051354720257223;}
	90% { opacity: 0.9843206780264154;}
	95% { opacity: 0.9922444827854634;}
	100% { opacity: 0.9817510534776375;}
}